<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/styles.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandYumm</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Section 1 With Navbar -->
    <!-- Navbar Goes here -->
    <div class="jumbo">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-lg-none" href="#">RandYumm</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                        <li class="nav-item ">
                            <a class="nav-link firstEffect" href="#">About
                                <div style="height: 2px;width: 0%;background-color: white;"></div>
                            </a>
                        </li>
                        <li class="nav-item secondEffect">
                            <a class="nav-link" href="#">Subscription

                            <div style="height: 2px;width: 0%;background-color: white"></div>
                            </a>
                        </li>
                        <div cla ss="logo">
                            <a class="navbar-brand d-lg-block d-none" href="#">
                                <div>RandYumm</div>
                            </a>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link thirdEffect" href="#">Help
                                <div style="height: 2px;width: 0%;background-color: white"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fourthEffect" href="#">Link
                                <div style="height: 2px;width: 0%;background-color: white"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar ends -->

        <div class="innerContainer">
            <div class="container">
                <div class="row ">
                    <div class="mainText" style="color: white;">Welcome to the magic of RandYumm</div>
                    <div class="subText" style="color: white;">Cook Your Next Meal with the only ingredients that you
                        have at your <span style="font-weight: bolder;">HOME</span></div>
                    <div class="row links">
                        <a href="#launchSection" class="col-lg-6 col-sm-6 col-6">
                            <div>Launch</div>
                        </a>
                        <a href="#" class="col-lg-6 col-sm-6 col-6">
                            <div>Learn More</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section 1 ends here -->

    <!-- Section 2 starts here -->
    <div id="launchSection" class="container2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 col-md-12">
                    <div class="searchBar">
                        <input id="searchTerms" type="text" placeholder="Type your Ingredients with 'SPACES' ">
                        <button id="btn"><img id="btnImage" src="/img/search.png" style="background-color: black;" width="50%"
                                height="70%"></button>
                    </div>
                </div>

                <div class="col-lg-7 col-sm-12 col-12 col-md-7">
                    <h2 id="dishName">Dish Name</h2>
                    <textarea id="area">Your Delicious Meal Recipe Would Flash Here !!!</textarea>
                </div>
                <div class="col-lg-5 col-md-5 col-12 col-sm-12">
                    <h2>
                        Youtube Videos
                    </h2>
                    <div id="videos">
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts Goes here -->
    <script src="/js/forIndex.js"></script>
</body>

</html>